@CHARSET "UTF-8";
@font-face {
	font-family: AvantGarde;
	src: url('../fonts/avant-garde-book-bt.ttf');
}

@font-face {
	font-family: FuturaStd;
	src: url('../fonts/FuturaStd Light.otf');
}

@font-face {
	font-family: FuturaStdO;
	src: url('../fonts/FuturaStdLightOblique.otf');
}

div {
	border: solid 0px #ffffff;
}

body {
	
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaddff', endColorstr='#ddffff');
	background: -webkit-gradient(linear, left top, left bottom, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #ffffff, #aaddff);
	margin: 0px auto;	
}

a {
	text-decoration: none;
}

#topbar {
	height: 25px;
	background: #223;
}

#topbar p {
	float: right;
	padding-right: 30px;
}

#topbar img {
	float: left;
	padding-top: 4px;
	padding-right: 15px;
}

#topbar a {
	color: #ffffff;
	font-size: 12px;
}

#topbar a:hover {
	color: #aaccff;
	font-size: 12px;
}

#content {
	margin: 0px auto;
}

#header {
	height: 160px;
	-moz-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
}

#header div {
	height: 14px;
}

#header div ul {
	position: relative;
	top: 121px;
	left: -20px;
	list-style: none;
}

#header ul.right {
	float: right;
}

#header ul.right li {
	float: left;
}

#header li div {
	float: left;
	margin-left: 5px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#aaddff');
	background: -webkit-gradient(linear, left bottom, left top, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #aaccff, #aaddff);
	opacity:.75;
	height: 30px;
	width: 100px;
	-moz-border-radius: 11px 11px 0px 0px ;
	border-radius: 11px 11px 0px 0px ;
	border: solid 1px #77aadd; 
	border-bottom: 0px;
	-moz-box-shadow: 0px -1px 1px #abc;
	-webkit-box-shadow: 0px -1px 1px #abc;
	box-shadow: 0px -1px 1px #abc;
}

#header li.act div {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaddff', endColorstr='#f3f7fc');
	background: -webkit-gradient(linear, left top, left bottom, from(#aaddff), to(#f3f7fc));
	background: -moz-linear-gradient(bottom, #f3f7fc, #ccddff);
	opacity:1.00;
}

#header li.act div.tab4 {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#aaddff');
	background: -webkit-gradient(linear, left bottom, left top, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #ffbbab, #f3f7fc);
}

#header ul li:last-child div {
	width: 150px;
	position: relative;
	top: -1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#aaddff');
	background: -webkit-gradient(linear, left bottom, left top, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #dfbbaa, #ffbbab);
}

#header ul li:last-child div:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#aaddff');
	background: -webkit-gradient(linear, left bottom, left top, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #ffbbab, #f3f7fc);
}

#header li div:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaddff', endColorstr='#f3f7fc');
	background: -webkit-gradient(linear, left top, left bottom, from(#aaddff), to(#f3f7fc));
	background: -moz-linear-gradient(bottom, #f3f7fc, #ccddff);
	opacity:1.00;
}

#header li div.tab1 a {
	position: relative;
	top: 5px;
	left: 17px;
}

#header li div.tab2 a {
	position: relative;
	top: 5px;
	left: 5px;
}

#header li div.tab3 a {
	position: relative;
	top: 5px;
	left: 12px;
}

#header li div.tab4 a {
	position: relative;
	top: 5px;
	left: 50px;
}

#header li:first-child {
}

#header a {
	color: #2255aa;
	font-family: AvantGarde;
	text-decoration: none;
}

#header p {
	padding-top: 5px;
}

#header img {
	position: relative;
	top: -0px;
}

#home {
	height: 840px;
	margin-top: 5px;
	padding-top: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #f3f7fc;
	border: solid 1px #77aadd;
	-moz-box-shadow: 0px 0px 2px #abc;
	-webkit-box-shadow: 0px 0px 2px #abc;
	box-shadow: 0px 0px 2px #abc;
}

#home input.search {
	float: right;
	position: relative;
	top: 5px;
	left: -10px;
	width: 250px;
	-moz-border-radius: 11px 11px 11px 11px;
	border-radius: 11px 11px 11px 11px;
	-moz-box-shadow: 0px 0px 2px #abc;
	-webkit-box-shadow: 0px 0px 2px #abc;
	box-shadow: 0px 0px 2px #abc;
}

#home img.search { 
	float: right;
	padding-right: 5px;
	opacity: .50;
	position: relative;
	top: -2px;
}

#home img.search:hover { 
	opacity: .75;
}

#home p {
	display: inline;
	position: relative;
	left: 20px;
	color: #cccccc;
}

#home p a {
	color: #aaaaaa;
}

#home p a.current {
	color: #99aaff;
}

#home p a:hover {
	text-decoration: underline;
}

#adv { 
	margin-top: 20px;
	padding-left: 20px;
	padding-top: 55px;
	border-right: solid 1px #bcc; 
}
#adv img.display {
	float: right;
	display: inline;
	position: relative;
	left: -45px;
}

#adv h2 {
	position: relative;
	top: -69px;
	left: 47px;
	color: #4499aa;
	font-size: 21px;
	font-family: AvantGarde;
}

#adv h1 {
	position: relative;
	top: -35px;
	left: 45px;
	color: #223333;
	font-size: 30px;
}

#adv h5 {
	color: #777;
	position: relative;
	top: -25px;
}

#adv ul {
	position: relative;
	top: -80px;
	left: 20px;
	list-style: none;
	line-height: 19px;
}

#adv li:first-child {
	color: #9a9;
	position: relative;
	left: -5px;
}

#adv li {
	color: #343;
}

#adv h3 {
	position: relative;
	top: -110px;
	left: 110px;
	color: #4477ff;
	font-size: 23px;
}

#adv h4 {
	position: relative;
	top: -85px;
	left: 110px;
	color: #bb2200;
	font-size: 14px;
	text-decoration: line-through;
}

div.adv2 {
	height: 200px;
	padding-top: 20px;
	border-bottom: solid 1px #bcc; 
}

div.adv2:last-child {
	height: 200px;
	padding-top: 20px;
	border-bottom: 0px; 
}

div.adv2 img {
	float: right;
	position: relative;
	left: 35px;
}

div.adv2:last-child img {
	float: right;
	position: relative;
	left: 35px;
	top: 20px;
}

div.adv2 h4 {
	position: relative;
	top: 3px;
	color: #223333;
	font-size: 15px;
	font-family: AvantGarde;
	line-height: 17px;
}

div.adv2 h3 {
	position: relative;
	top: 20px;
	color: #4499aa;
	font-size: 15px;
	font-weight: bold;
}

a.shopnow {
	color: #4477ff;
	text-decoration: none;
}

a.shopnow:hover {
	color: #4477ff;
	text-decoration: underline;
}

#ship {
	margin-top: 10px;
	margin-bottom: 50px;
}

#ship h1 {
	display: inline;
	font-size: 25px;
	position: relative;
	left: 180px ;
	color: #9a9a9a;
	font-family: FuturaStdO;
}

#ship p {
	font-size: 15px;
	position: relative;
	left: 190px 
}

#ship a.shopnow {
	color: #77aaff;
}

em.under {
	text-decoration: underline;
}

em.it {
	font-style: italic;
}

#descrip {
	padding-left: 10px;

}

#descrip h1 {
	padding-left: 20px;
}

#descrip p {
	position: relative;
	top:-5px;
	color: #7a7a7a;
}

#contact h2 {
	position: relative;
	top: 5px;
	left: 27px;
	color: #4477ff;
	font-size: 17px;
}

#contact ul {
	list-style: none;
}

#contact ul li:last-child {
	position: relative;
	top: -15px;
}

#contact ul li h5 {
	color: #a7a7a7;
	font-size: 12px;
}

#sidenav {
	height: 350px;
	margin-top: 30px;
	border-right: solid 1px #aaccff;
}

#sidenav ul {
	list-style: none;
	line-height: 30px;
}

#sidenav li a {
	color: #223333;
}

#sidenav li a:hover {
	color: #aaccff;
}

div.prod {
	height: 250px;
	margin-top: 30px;
	
}

div.prod h2 a {
	color: #227799;
}

div.prod h2 a:hover {
	color: #aaccff;
}

div.prod img.move {
	padding-left: 17px;
}

div.item {
	height: 200px;
	margin-top: 30px;
	padding-bottom: 90px;
	
}

div.item h1 a {
	color: #223333;
	font-size: 20px;
}

div.item h2 {
	position: relative;
	top: -25px;
	color: #227799;
	font-size: 15px;
}

div.item h3 {
	position: relative;
	top: -35px;
	color: #4477ff;
	font-size: 17px;
}

div.item h3.sale{
	position: relative;
	top: -35px;
	color: #bb2200;
	font-size: 17px;
}

div.item h4 {
	position: relative;
	top: -10px;
	color: #bb2200;
	font-size: 13px;
	text-decoration: line-through;
}
div.item h4.sale{
	position: relative;
	top: -10px;
	color: #4477ff;
	font-size: 13px;
	text-decoration: line-through;
}

div.item img.brain {
	margin-bottom: 16px;
}

div.item img.brain1 {
	margin-bottom: 24px;
}

div.item img.brain2 {
	margin-bottom: 45px;
}

div.item2 {
	height: 200px;
	margin-top: 30px;
	padding-top: 150px;
	padding-bottom: 55px;
	
}

div.item2 h1 a {
	color: #223333;
	font-size: 20px;
}

div.item2 h2 {
	position: relative;
	top: -25px;
	color: #227799;
	font-size: 15px;
}

div.item2 h3 {
	position: relative;
	top: -35px;
	color: #4477ff;
	font-size: 17px;
}

div.item2 h4 {
	position: relative;
	top: -10px;
	color: #bb2200;
	font-size: 13px;
	text-decoration: line-through;
}

div.item2 img.brain {
	margin-bottom: 16px;
}

div.item2 img.brain1 {
	margin-bottom: 24px;
}

div.item2 img.brain2 {
	margin-bottom: 45px;
}

div.item2 img.brain3 {
	margin-bottom: 35px;
}

#itemright {
	float:right;
	margin-top: 55px;
	padding-left: 20px;
	height: 400px;
	border-left: solid 1px #aaa;
}

#itemright h3 {
	position: relative;
	top: -35px;
	color: #4477ff;
	font-size: 25px;
}

#itemright h4 {
	position: relative;
	top: -10px;
	color: #bb2200;
	font-size: 15px;
	text-decoration: line-through;
}

#itemright p {
	color: #223
	}
	
#itemright input {
	width: 30px;
}

#itemright p {
	display: block;
	position: relative;
	top: -30px;
}

#itemright div a {
	position: relative;
	left: 10px;
	color: #223;
	font-family: AvantGarde;
}

#itemright  div:hover {
	opacity: 0.50;
}

#itemright  div {
	width: 90px;
	position: relative;
	top: -1px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#aaddff');
	background: -webkit-gradient(linear, left bottom, left top, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #dfbbaa, #ffbbab);
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#home2 {
	height: 1300px;
	margin-top: 5px;
	padding-top: 20px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #f3f7fc;
	border: solid 1px #77aadd;
	-moz-box-shadow: 0px 0px 2px #abc;
	-webkit-box-shadow: 0px 0px 2px #abc;
	box-shadow: 0px 0px 2px #abc;
}

#home2 input.search {
	float: right;
	position: relative;
	top: 5px;
	left: -10px;
	width: 250px;
	-moz-border-radius: 11px 11px 11px 11px;
	border-radius: 11px 11px 11px 11px;
	-moz-box-shadow: 0px 0px 2px #abc;
	-webkit-box-shadow: 0px 0px 2px #abc;
	box-shadow: 0px 0px 2px #abc;
}

#home2 img.search { 
	float: right;
	padding-right: 5px;
	opacity: .50;
	position: relative;
	top: -2px;
}

#home2 img.search:hover { 
	opacity: .75;
}

#home2 p {
	display: inline;
	position: relative;
	left: 20px;
	color: #cccccc;
}

#home2 p a {
	color: #aaaaaa;
}

#home2 p a.current {
	color: #99aaff;
}

#home2 p a:hover {
	text-decoration: underline;
}

textarea {
	margin-top: 15px;
	margin-left: 18px;
}

#contactus p {
	color: #4477aa;
}

#cart {
	padding-left: 20px;
}

#contact2 {
	position: relative;
	top: 30px;
	left: -70px;
}

#contact2 h2 {
	position: relative;
	top: 5px;
	left: 27px;
	color: #4477ff;
	font-size: 17px;
}

#contact2 ul {
	list-style: none;
}

#contact2 ul li:last-child {
	position: relative;
	top: -15px;
}

#footer p {
	color: #4477aa;
}

em.qty {
	color: #777;
	font-style: italic;
}


#checkout {
	width: 190px;
	position: relative;
	top: 50px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddddff', endColorstr='#aaddff');
	background: -webkit-gradient(linear, left bottom, left top, from(#aaddff), to(#ddffff));
	background: -moz-linear-gradient(top, #dfbbaa, #ffbbab);
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#checkout h2 a {
	position: relative;
	left: 37px;
	color: #223;
	font-family: AvantGarde;
	font-size: 25px;
}

#checkout:hover {
	opacity: 0.75;
}

#check {
	padding-left: 20px;
}

#check p {
	display: block;
	color: #777;
}

#check h2 {
	display: block;
	color: #777;
	font-size: 20px;
	font-family: AvantGarde;
}

#check img {
	position: relative;
	top: 4px;
}
	



